fastapi==0.115.6
uvicorn==0.30.6
pydantic==2.9.2
requests==2.32.3
openai==1.56.0
flask==3.0.3
langchain==0.3.7
langchain-core==0.3.19
langchain-openai==0.2.8
langchain-community==0.3.7
langchain-text-splitters==0.3.2
langchain-chroma==0.1.4
faiss-cpu==1.9.0.post1
chromadb==0.5.20
